@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-title {
    font-family: 'Caveat', cursive;
}

.maskgradient {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 90%);
  mask-image: linear-gradient(to bottom, transparent, black 90%);
}